<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenovo.doc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HeightWeightPulseActivity"></activity>
        <activity android:name=".HealthBookActivity" />
        <activity android:name=".BloodPressureActivity" />
        <activity android:name=".MeasurementActivity" />
        <activity android:name=".LabReports" />
        <activity android:name=".ImageViewer" />
        <activity android:name=".prescriptionUploadActivity" />
        <activity android:name=".reviewThanks" />
        <activity android:name=".rateReview" />
        <activity
            android:name=".thankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reshedule_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment_gateway"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BookAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order_medicine_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chooseMedicine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup_new_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verifyOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".yourBooking"
            android:screenOrientation="portrait" />
    </application>

</manifest>