<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenovo.doc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme" />
        <activity android:name=".BookApointment" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".BookAppointment" />
        <activity android:name=".Doctor_profile" />
        <activity android:name=".searchActivity" />
        <activity android:name=".order_medicine_activity" />
        <activity android:name=".chooseMedicine" />
        <activity android:name=".LoginNewActivity" />
        <activity android:name=".Signup_new_Activity" />
        <activity android:name=".verifyOTP" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".paymentActivity" />
        <activity android:name=".yourBooking"></activity>
    </application>

</manifest>